/* Facebook
.quiqqer-socialshare-facebook {
    border-radius: 0.3em;
    box-shadow: 0 1px 3px rgba(255, 255, 255, 0.3) inset, 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px 3px rgba(0, 0, 0, 0.15);
}
/* Pinterest
.quiqqer-socialshare-pinterest {
    border-radius: 0.3em;
    box-shadow: 0 1px 3px rgba(255, 255, 255, 0.3) inset, 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px 3px rgba(0, 0, 0, 0.15);
}

/* Twitter
.quiqqer-socialshare-twitter {
    border-radius: 0.3em;
    box-shadow: 0 1px 3px rgba(255, 255, 255, 0.3) inset, 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px 3px rgba(0, 0, 0, 0.15);
}
*/
.quiqqer-socialshare-classic {
    border-radius: 0.3em;
    box-shadow: 0 1px 3px rgba(255, 255, 255, 0.3) inset, 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px 3px rgba(0, 0, 0, 0.15);
}