.quiqqer-socialshare-minima .quiqqer-socialshare-wrapper {
    padding: 4px 2px;
}

.quiqqer-socialshare-minima.quiqqer-socialshare-icon-spacing .quiqqer-socialshare-wrapper span:first-child {
    margin-right: .15em;
}


.quiqqer-socialshare-minima .quiqqer-socialshare-count {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);
}

/* Facebook */
.quiqqer-socialshare-minima.quiqqer-socialshare-facebook .quiqqer-socialshare-wrapper {
    background: none;
    color: #3b5998;
    border: none;
}

.quiqqer-socialshare-minima.quiqqer-socialshare-facebook .quiqqer-socialshare-wrapper:hover {
    color: #2d4373;
    background: none;
}

/* Pinterest */
.quiqqer-socialshare-minima.quiqqer-socialshare-pinterest .quiqqer-socialshare-wrapper {
    color: #cb2027;
    background: none;
    border: none;
}

.quiqqer-socialshare-minima.quiqqer-socialshare-pinterest .quiqqer-socialshare-wrapper:hover {
    color: #9f191f;
    background: none;
}

/* Tweeter */
.quiqqer-socialshare-minima.quiqqer-socialshare-twitter .quiqqer-socialshare-wrapper {
    background: none;
    color: #000;
    border: none;
}

.quiqqer-socialshare-minima.quiqqer-socialshare-twitter .quiqqer-socialshare-wrapper:hover {
    color: #333;
    background: none;
}

/* Whatsapp */
.quiqqer-socialshare-minima.quiqqer-socialshare-whatsapp .quiqqer-socialshare-wrapper {
    background: none;
    color: #29a628;
    border: none;
}

.quiqqer-socialshare-minima.quiqqer-socialshare-whatsapp .quiqqer-socialshare-wrapper:hover {
    color: #1f7d1e;
    background: none;
}

/* Mail */
.quiqqer-socialshare-minima.quiqqer-socialshare-mail .quiqqer-socialshare-wrapper {
    background: none;
    border: none;
    color: #3490f3;
}

.quiqqer-socialshare-minima.quiqqer-socialshare-mail .quiqqer-socialshare-wrapper:hover {
    background: none;
    color: #0e76e6;
}

/* LinkedIn */
.quiqqer-socialshare-minima.quiqqer-socialshare-linkedin .quiqqer-socialshare-wrapper {
    background: none;
    border: none;
    color: #007bb6;
}

.quiqqer-socialshare-minima.quiqqer-socialshare-linkedin:hover .quiqqer-socialshare-wrapper {
    color: #005983;
}

/* Xing */
.quiqqer-socialshare-xing .quiqqer-socialshare-wrapper {
    background: none;
    border: none;
    color: #006567;
}

.quiqqer-socialshare-xing:hover .quiqqer-socialshare-wrapper {
    background: none;
    color: #005456;
}