.quiqqer-socialshare-minimalistic {
    padding: 4px 2px;
}

.quiqqer-socialshare-minimalistic.quiqqer-socialshare-icon-spacing  span:first-child {
    margin-right: .15em;
}

/* Facebook */
.quiqqer-socialshare-minimalistic.quiqqer-socialshare-facebook {
    background: none;
    color: #3b5998;
    border: none;
}
.quiqqer-socialshare-minimalistic.quiqqer-socialshare-facebook:hover {
    color: #2d4373;
    background: none;
}

/* Pinterest */
.quiqqer-socialshare-minimalistic.quiqqer-socialshare-pinterest {
    color: #cb2027;
    background: none;
    border: none;
}
.quiqqer-socialshare-minimalistic.quiqqer-socialshare-pinterest:hover {
    color: #9f191f;
    background: none;
}

/* Tweeter */

.quiqqer-socialshare-minimalistic.quiqqer-socialshare-twitter {
    background: none;
    color: #00aced;
    border: none;
}

.quiqqer-socialshare-minimalistic.quiqqer-socialshare-twitter:hover {
    color: #0099d4;
    background: none;
}