parameters:
	ignoreErrors:
		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: ajax/getCount.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: src/QUI/Socialshare/Manager.php

		-
			message: "#^Method QUI\\\\Socialshare\\\\Shares\\\\Baidu\\:\\:getCount\\(\\) should return int but returns string\\.$#"
			count: 1
			path: src/QUI/Socialshare/Shares/Baidu.php

		-
			message: "#^Method QUI\\\\Socialshare\\\\Shares\\\\Blogger\\:\\:getCount\\(\\) should return int but returns string\\.$#"
			count: 1
			path: src/QUI/Socialshare/Shares/Blogger.php

		-
			message: "#^Method QUI\\\\Socialshare\\\\Shares\\\\Buffer\\:\\:getCount\\(\\) should return int but returns string\\.$#"
			count: 1
			path: src/QUI/Socialshare/Shares/Buffer.php

		-
			message: "#^Method QUI\\\\Socialshare\\\\Shares\\\\Delicious\\:\\:getCount\\(\\) should return int but returns string\\.$#"
			count: 1
			path: src/QUI/Socialshare/Shares/Delicious.php

		-
			message: "#^Method QUI\\\\Socialshare\\\\Shares\\\\Evernote\\:\\:getCount\\(\\) should return int but returns string\\.$#"
			count: 1
			path: src/QUI/Socialshare/Shares/Evernote.php

		-
			message: "#^Method QUI\\\\Socialshare\\\\Shares\\\\Evernote\\:\\:getCountUrl\\(\\) should return string but returns false\\.$#"
			count: 1
			path: src/QUI/Socialshare/Shares/Evernote.php

		-
			message: "#^Method QUI\\\\Socialshare\\\\Shares\\\\Facebook\\:\\:getCount\\(\\) should return int but returns string\\.$#"
			count: 1
			path: src/QUI/Socialshare/Shares/Facebook.php

		-
			message: "#^Method QUI\\\\Socialshare\\\\Shares\\\\Instapaper\\:\\:getCount\\(\\) should return int but returns string\\.$#"
			count: 1
			path: src/QUI/Socialshare/Shares/Instapaper.php

		-
			message: "#^Method QUI\\\\Socialshare\\\\Shares\\\\Instapaper\\:\\:getCountUrl\\(\\) should return string but returns false\\.$#"
			count: 1
			path: src/QUI/Socialshare/Shares/Instapaper.php

		-
			message: "#^Method QUI\\\\Socialshare\\\\Shares\\\\Line\\:\\:getCount\\(\\) should return int but returns string\\.$#"
			count: 1
			path: src/QUI/Socialshare/Shares/Line.php

		-
			message: "#^Method QUI\\\\Socialshare\\\\Shares\\\\LinkedIn\\:\\:getCount\\(\\) should return int but returns string\\.$#"
			count: 1
			path: src/QUI/Socialshare/Shares/LinkedIn.php

		-
			message: "#^Method QUI\\\\Socialshare\\\\Shares\\\\Liveinternet\\:\\:getCount\\(\\) should return int but returns string\\.$#"
			count: 1
			path: src/QUI/Socialshare/Shares/Liveinternet.php

		-
			message: "#^Method QUI\\\\Socialshare\\\\Shares\\\\Livejournal\\:\\:getCount\\(\\) should return int but returns string\\.$#"
			count: 1
			path: src/QUI/Socialshare/Shares/Livejournal.php

		-
			message: "#^Method QUI\\\\Socialshare\\\\Shares\\\\MoiMir\\:\\:getCount\\(\\) should return int but returns string\\.$#"
			count: 1
			path: src/QUI/Socialshare/Shares/MoiMir.php

		-
			message: "#^Method QUI\\\\Socialshare\\\\Shares\\\\Odnoklassniki\\:\\:getCount\\(\\) should return int but returns string\\.$#"
			count: 1
			path: src/QUI/Socialshare/Shares/Odnoklassniki.php

		-
			message: "#^Method QUI\\\\Socialshare\\\\Shares\\\\Pinterest\\:\\:getCount\\(\\) should return int but returns string\\.$#"
			count: 1
			path: src/QUI/Socialshare/Shares/Pinterest.php

		-
			message: "#^Method QUI\\\\Socialshare\\\\Shares\\\\Pocket\\:\\:getCount\\(\\) should return int but returns string\\.$#"
			count: 1
			path: src/QUI/Socialshare/Shares/Pocket.php

		-
			message: "#^Method QUI\\\\Socialshare\\\\Shares\\\\Readability\\:\\:getCount\\(\\) should return int but returns string\\.$#"
			count: 1
			path: src/QUI/Socialshare/Shares/Readability.php

		-
			message: "#^Method QUI\\\\Socialshare\\\\Shares\\\\Reddit\\:\\:getCount\\(\\) should return int but returns string\\.$#"
			count: 1
			path: src/QUI/Socialshare/Shares/Reddit.php

		-
			message: "#^Method QUI\\\\Socialshare\\\\Shares\\\\RenRen\\:\\:getCount\\(\\) should return int but returns string\\.$#"
			count: 1
			path: src/QUI/Socialshare/Shares/RenRen.php

		-
			message: "#^Method QUI\\\\Socialshare\\\\Shares\\\\StumbleUpon\\:\\:getCount\\(\\) should return int but returns string\\.$#"
			count: 1
			path: src/QUI/Socialshare/Shares/StumbleUpon.php

		-
			message: "#^Method QUI\\\\Socialshare\\\\Shares\\\\Surfingbird\\:\\:getCount\\(\\) should return int but returns string\\.$#"
			count: 1
			path: src/QUI/Socialshare/Shares/Surfingbird.php

		-
			message: "#^Method QUI\\\\Socialshare\\\\Shares\\\\Tumblr\\:\\:getCount\\(\\) should return int but returns string\\.$#"
			count: 1
			path: src/QUI/Socialshare/Shares/Tumblr.php

		-
			message: "#^Method QUI\\\\Socialshare\\\\Shares\\\\VK\\:\\:getCount\\(\\) should return int but returns string\\.$#"
			count: 1
			path: src/QUI/Socialshare/Shares/VK.php

		-
			message: "#^Method QUI\\\\Socialshare\\\\Shares\\\\Viber\\:\\:getCount\\(\\) should return int but returns string\\.$#"
			count: 1
			path: src/QUI/Socialshare/Shares/Viber.php

		-
			message: "#^Method QUI\\\\Socialshare\\\\Shares\\\\Xing\\:\\:getCount\\(\\) should return int but returns string\\.$#"
			count: 1
			path: src/QUI/Socialshare/Shares/Xing.php

		-
			message: "#^Method QUI\\\\Socialshare\\\\Socialshare\\:\\:getSite\\(\\) should return QUI\\\\Projects\\\\Site but returns QUI\\\\Interfaces\\\\Projects\\\\Site\\|null\\.$#"
			count: 1
			path: src/QUI/Socialshare/Socialshare.php
