includes:
    - phpstan-baseline.neon

parameters:
    phpVersion:
        min: 80200
        max: 80509
    level: 8
    paths:
        - src
    bootstrapFiles:
        - tests/phpstan-bootstrap.php
    tipsOfTheDay: false
    customRulesetUsed: true
