<?xml version="1.0" encoding="UTF-8"?>
<quiqqer>
    <project>

        <settings>
            <config>
                <section name="socialshare.settings">

                    <conf name="Facebook">
                        <type><![CDATA[bool]]></type>
                        <default>1</default>
                    </conf>
                    <conf name="Viber">
                        <type><![CDATA[bool]]></type>
                        <default>1</default>
                    </conf>
                    <conf name="StumbleUpon">
                        <type><![CDATA[bool]]></type>
                        <default>1</default>
                    </conf>
                    <conf name="Evernote">
                        <type><![CDATA[bool]]></type>
                        <default>1</default>
                    </conf>
                    <conf name="Instapaper">
                        <type><![CDATA[bool]]></type>
                        <default>1</default>
                    </conf>
                    <conf name="Blogger">
                        <type><![CDATA[bool]]></type>
                        <default>1</default>
                    </conf>
                    <conf name="Baidu">
                        <type><![CDATA[bool]]></type>
                        <default>1</default>
                    </conf>
                    <conf name="Buffer">
                        <type><![CDATA[bool]]></type>
                        <default>1</default>
                    </conf>
                    <conf name="Twitter">
                        <type><![CDATA[bool]]></type>
                        <default>1</default>
                    </conf>
                    <conf name="Google">
                        <type><![CDATA[bool]]></type>
                    </conf>
                    <conf name="Whatsapp">
                        <type><![CDATA[bool]]></type>
                        <default>1</default>
                    </conf>
                    <conf name="Pinterest">
                        <type><![CDATA[bool]]></type>
                    </conf>
                    <conf name="Mail">
                        <type><![CDATA[bool]]></type>
                        <default>1</default>
                    </conf>
                    <conf name="LinkedIn">
                        <type><![CDATA[bool]]></type>
                    </conf>
                    <conf name="Xing">
                        <type><![CDATA[bool]]></type>
                    </conf>
                    <conf name="Digg">
                        <type><![CDATA[bool]]></type>
                    </conf>
                    <conf name="Tumblr">
                        <type><![CDATA[bool]]></type>
                    </conf>
                    <conf name="WorldPress">
                        <type><![CDATA[bool]]></type>
                    </conf>
                    <conf name="Weibo">
                        <type><![CDATA[bool]]></type>
                    </conf>
                    <conf name="Reddit">
                        <type><![CDATA[bool]]></type>
                    </conf>
                    <conf name="Telegram">
                        <type><![CDATA[bool]]></type>
                    </conf>


                    <conf name="general.useSiteImage">
                        <type><![CDATA[bool]]></type>
                        <default>1</default>
                    </conf>
                    <conf name="general.standardImage">
                        <type><![CDATA[bool]]></type>
                    </conf>
                    <conf name="general.showLabel">
                        <type><![CDATA[bool]]></type>
                    </conf>
                    <conf name="general.showIcon">
                        <type><![CDATA[bool]]></type>
                    </conf>
                    <conf name="general.showCount">
                        <type><![CDATA[bool]]></type>
                    </conf>
                    <conf name="general.siteName">
                        <type><![CDATA[bool]]></type>
                    </conf>

                    <conf name="general.theme">
                        <type><![CDATA[string]]></type>
                    </conf>


                    <conf name="twitter.card">
                        <type><![CDATA[string]]></type>
                    </conf>
                </section>
            </config>

            <window>
                <categories>
                    <category name="socialshare">
                        <text>
                            <locale group="quiqqer/socialshare"
                                    var="socialshare.settings.category"/>
                        </text>
                        <icon>fa fa-facebook</icon>

                        <settings title="socialshare.settings" name="socialshare.settings">
                            <title>
                                <text>
                                    <locale group="quiqqer/socialshare"
                                            var="socialshare.settings.title"/>
                                </text>
                            </title>
                            <input conf="socialshare.settings.Facebook" type="checkbox">
                                <text>
                                    <locale group="quiqqer/socialshare"
                                            var="socialshare.settings.show.facebook"/>
                                </text>
                            </input>
                            <input conf="socialshare.settings.Viber" type="checkbox">
                                <text>
                                    <locale group="quiqqer/socialshare"
                                            var="socialshare.settings.show.viber"/>
                                </text>
                            </input>
                            <input conf="socialshare.settings.StumbleUpon" type="checkbox">
                                <text>
                                    <locale group="quiqqer/socialshare"
                                            var="socialshare.settings.show.stumbleupon"/>
                                </text>
                            </input>
                            <input conf="socialshare.settings.Evernote" type="checkbox">
                                <text>
                                    <locale group="quiqqer/socialshare"
                                            var="socialshare.settings.show.evernote"/>
                                </text>
                            </input>
                            <input conf="socialshare.settings.Instapaper" type="checkbox">
                                <text>
                                    <locale group="quiqqer/socialshare"
                                            var="socialshare.settings.show.instapaper"/>
                                </text>
                            </input>
                            <input conf="socialshare.settings.Blogger" type="checkbox">
                                <text>
                                    <locale group="quiqqer/socialshare"
                                            var="socialshare.settings.show.blogger"/>
                                </text>
                            </input>
                            <input conf="socialshare.settings.Baidu" type="checkbox">
                                <text>
                                    <locale group="quiqqer/socialshare"
                                            var="socialshare.settings.show.baidu"/>
                                </text>
                            </input>
                            <input conf="socialshare.settings.Buffer" type="checkbox">
                                <text>
                                    <locale group="quiqqer/socialshare"
                                            var="socialshare.settings.show.buffer"/>
                                </text>
                            </input>
                            <input conf="socialshare.settings.Twitter" type="checkbox">
                                <text>
                                    <locale group="quiqqer/socialshare"
                                            var="socialshare.settings.show.twitter"/>
                                </text>
                            </input>
                            <input conf="socialshare.settings.Google" type="checkbox">
                                <text>
                                    <locale group="quiqqer/socialshare"
                                            var="socialshare.settings.show.google"/>
                                </text>
                            </input>
                            <input conf="socialshare.settings.Whatsapp" type="checkbox">
                                <text>
                                    <locale group="quiqqer/socialshare"
                                            var="socialshare.settings.show.whatsapp"/>
                                </text>
                            </input>
                            <input conf="socialshare.settings.Pinterest" type="checkbox">
                                <text>
                                    <locale group="quiqqer/socialshare"
                                            var="socialshare.settings.show.pinterest"/>
                                </text>
                            </input>
                            <input conf="socialshare.settings.Mail" type="checkbox">
                                <text>
                                    <locale group="quiqqer/socialshare"
                                            var="socialshare.settings.show.mail"/>
                                </text>
                            </input>
                            <input conf="socialshare.settings.LinkedIn" type="checkbox">
                                <text>
                                    <locale group="quiqqer/socialshare"
                                            var="socialshare.settings.show.linkedin"/>
                                </text>
                            </input>
                            <input conf="socialshare.settings.Xing" type="checkbox">
                                <text>
                                    <locale group="quiqqer/socialshare"
                                            var="socialshare.settings.show.xing"/>
                                </text>
                            </input>

                            <input conf="socialshare.settings.Digg" type="checkbox">
                                <text>
                                    <locale group="quiqqer/socialshare"
                                            var="socialshare.settings.show.digg"/>
                                </text>
                            </input>

                            <input conf="socialshare.settings.Tumblr" type="checkbox">
                                <text>
                                    <locale group="quiqqer/socialshare"
                                            var="socialshare.settings.show.tumblr"/>
                                </text>
                            </input>

                            <input conf="socialshare.settings.WorldPress" type="checkbox">
                                <text>
                                    <locale group="quiqqer/socialshare"
                                            var="socialshare.settings.show.worldpress"/>
                                </text>
                            </input>

                            <input conf="socialshare.settings.Weibo" type="checkbox">
                                <text>
                                    <locale group="quiqqer/socialshare"
                                            var="socialshare.settings.show.weibo"/>
                                </text>
                            </input>

                            <input conf="socialshare.settings.Reddit" type="checkbox">
                                <text>
                                    <locale group="quiqqer/socialshare"
                                            var="socialshare.settings.show.reddit"/>
                                </text>
                            </input>

                            <input conf="socialshare.settings.Telegram" type="checkbox">
                                <text>
                                    <locale group="quiqqer/socialshare"
                                            var="socialshare.settings.show.telegram"/>
                                </text>
                            </input>

                        </settings>

                        <settings title="socialshare.settings" name="socialshare.settings.general">
                            <title>
                                <text>
                                    <locale group="quiqqer/socialshare"
                                            var="socialshare.settings.general.title"/>
                                </text>
                            </title>

                            <input conf="socialshare.settings.general.useSiteImage"
                                   type="checkbox" checked="checked">
                                <text>
                                    <locale group="quiqqer/socialshare"
                                            var="socialshare.settings.general.useSiteImage"/>
                                </text>
                                <description>
                                    <locale group="quiqqer/socialshare"
                                            var="socialshare.settings.general.useSiteImage.desc" />
                                </description>
                            </input>

                            <input conf="socialshare.settings.general.standardImage"
                                   type="text" class="media-image">
                                <text>
                                    <locale group="quiqqer/socialshare"
                                            var="socialshare.settings.general.standardImage"/>
                                </text>
                                <description>
                                    <locale group="quiqqer/socialshare"
                                            var="socialshare.settings.general.standardImage.desc"/>
                                </description>
                            </input>

                            <input conf="socialshare.settings.general.showLabel" type="checkbox">
                                <text>
                                    <locale group="quiqqer/socialshare"
                                            var="socialshare.settings.general.showLabel"/>
                                </text>
                            </input>
                            <input conf="socialshare.settings.general.showIcon" type="checkbox">
                                <text>
                                    <locale group="quiqqer/socialshare"
                                            var="socialshare.settings.general.showIcon"/>
                                </text>
                            </input>
                            <input conf="socialshare.settings.general.showCount" type="checkbox">
                                <text>
                                    <locale group="quiqqer/socialshare"
                                            var="socialshare.settings.general.showCount"/>
                                </text>
                            </input>
                            <input conf="socialshare.settings.general.siteName">
                                <text>
                                    <locale group="quiqqer/socialshare"
                                            var="socialshare.settings.general.siteName" />
                                </text>
                            </input>

                            <select conf="socialshare.settings.general.theme">
                                <text>
                                    <locale group="quiqqer/socialshare"
                                            var="socialshare.settings.general.theme"/>
                                </text>
                                <option value="classic">
                                    <locale group="quiqqer/socialshare"
                                            var="socialshare.settings.general.theme.classic"/>
                                </option>
                                <option value="flat">
                                    <locale group="quiqqer/socialshare"
                                            var="socialshare.settings.general.theme.flat"/>
                                </option>
                                <option value="minima">
                                    <locale group="quiqqer/socialshare"
                                            var="socialshare.settings.general.theme.minima"/>
                                </option>
                            </select>
                        </settings>

                        <settings title="socialshare.settings" name="socialshare.settings.twitter">
                            <title>
                                <text>
                                    <locale group="quiqqer/socialshare"
                                            var="socialshare.settings.twitter.title"/>
                                </text>
                            </title>
                            <select conf="socialshare.settings.twitter.card">
                                <text>
                                    <locale group="quiqqer/socialshare"
                                            var="socialshare.settings.twitter.card" />
                                </text>

                                <option value="summary">
                                    <locale group="quiqqer/socialshare"
                                            var="socialshare.settings.twitter.card.summary" />
                                </option>
                                <option value="summary_large_image">
                                    <locale group="quiqqer/socialshare"
                                            var="socialshare.settings.twitter.card.summaryLargeImage" />
                                </option>
                                <option value="player">
                                    <locale group="quiqqer/socialshare"
                                            var="socialshare.settings.twitter.card.player" />
                                </option>
                            </select>
                        </settings>
                    </category>
                </categories>

            </window>
        </settings>

    </project>
</quiqqer>