a.quiqqer-socialshare {
    display: inline-block;
    text-decoration: none;
    padding: 4px 10px;
    color: #fff;
    vertical-align: top;
    margin: 0.3em;
    transition: all 200ms ease-in-out;
    font-weight: normal;
}

.quiqqer-socialshare-logo {
    width: 1em;
    vertical-align: middle;
    font-size: 1.5em;
    text-align: center;
}

.quiqqer-socialshare-label {

}

.quiqqer-socialshare-icon-spacing  span:first-child {
    margin-right: .3em;
}

/* Facebook */
.quiqqer-socialshare-facebook {
    background: #3b5998;
    border: 1px solid #344e86;
}
.quiqqer-socialshare-facebook:hover {
    background: #2d4373;
}

/* Pinterest */
.quiqqer-socialshare-pinterest {
    background: #cb2027;
    border: 1px solid #b51d23;
}
.quiqqer-socialshare-pinterest:hover {
    background: #9f191f;
}

/* Tweeter */

.quiqqer-socialshare-twitter {
    background: #00aced;
    border: 1px solid #0099d4;
}

.quiqqer-socialshare-twitter:hover {
    background: #0087ba;
}