.quiqqer-socialshare {
    margin: 6px 0;
}

.quiqqer-socialshare-link {
    display: inline-block;
}

.quiqqer-socialshare-wrapper {
    display: inline-block;
    text-decoration: none;
    padding: 4px 10px;
    color: #fff;
    vertical-align: top;
    margin: 3px;
    transition: all 200ms ease-in-out;
    font-weight: normal;
    overflow: hidden;
}

.quiqqer-socialshare-logo {
    width: 1em;
    vertical-align: middle;
    font-size: 1.5em;
    text-align: center;
}

.quiqqer-socialshare-label {
    vertical-align: middle;
}

.quiqqer-socialshare-icon-spacing span:first-child {
    margin-right: 10px;
}

.quiqqer-socialshare-count {
    /*border: 1px solid #eee;*/
    border-radius: 0.3em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    line-height: 1.7em;
    position: relative;

    border: 1px solid transparent;
    display: inline-block;
    padding: 4px 10px;
    margin: 0.3em 0.5em;
    text-decoration: none;
}

.quiqqer-socialshare-count:after {
    border-color: #fff transparent;
    border-style: solid;
    border-width: 6px 7px 0;
    content: "";
    display: block;
    left: -11px;
    position: absolute;
    top: 0.92em;
    transform: rotate(90deg);
    width: 0;
}

.quiqqer-socialshare-count:before {
    border-color: #dcdcdc transparent;
    border-style: solid;
    border-width: 8px 8px 0;
    content: "";
    display: block;
    left: -13px;
    position: absolute;
    top: 0.9em;
    transform: rotate(90deg);
    width: 0;
}

/*.quiqqer-socialshare-triangle {
    background: transparent none repeat scroll 0 0;
    display: inline-block;
    height: 0;
    vertical-align: middle;
    width: 0;

    position: relative;
    left: 1px;
    border-right: 10px solid #f1f1f1;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.quiqqer-socialshare-count {
    border: 1px solid transparent;
    display: inline-block;
    padding: 4px 10px;
    margin: 0.3em 0;
    background: #f1f1f1;
    text-decoration: none;
}*/
/*Digg*/
.quiqqer-socialshare-digg .quiqqer-socialshare-wrapper {
    background: #005be2;
    border: 1px solid #0057d7;
}
.quiqqer-socialshare-digg:hover .quiqqer-socialshare-wrapper {
    background: #0099e5;
}
/*RenRen*/
.quiqqer-socialshare-renren .quiqqer-socialshare-wrapper {
    background: #024795;
    border: 1px solid #024795;
}
.quiqqer-socialshare-renren:hover .quiqqer-socialshare-wrapper {
    background: #02336c;
}
/*Readability*/
.quiqqer-socialshare-readability .quiqqer-socialshare-wrapper {
    background: #cc2281;
    border: 1px solid #cc2281;
}
.quiqqer-socialshare-readability:hover .quiqqer-socialshare-wrapper {
    background: #93195d;
}
/*Pocket*/
.quiqqer-socialshare-pocket .quiqqer-socialshare-wrapper {
    background: #ef4056;
    border: 1px solid #bb2f41;
}
.quiqqer-socialshare-pocket:hover .quiqqer-socialshare-wrapper {
    background: #ba3041;
}
/*Odnoklassniki*/
.quiqqer-socialshare-odnoklassniki .quiqqer-socialshare-wrapper {
    background: #f58220;
    border: 1px solid #f58220;
}
.quiqqer-socialshare-odnoklassniki:hover .quiqqer-socialshare-wrapper {
    background: #bd5c0a;
}
/*MoiMir*/
.quiqqer-socialshare-moimir .quiqqer-socialshare-wrapper {
    background: #005be2;
    border: 1px solid #0057d7;
}
.quiqqer-socialshare-moimir:hover .quiqqer-socialshare-wrapper {
    background: #0099e5;
}
/*Livejournal*/
.quiqqer-socialshare-livejournal .quiqqer-socialshare-wrapper {
    background: #0de7ff;
    border: 1px solid #0de7ff;
}
.quiqqer-socialshare-livejournal:hover .quiqqer-socialshare-wrapper {
    background: #10c2d5;
}
/*Liveinternet*/
.quiqqer-socialshare-liveinternet .quiqqer-socialshare-wrapper {
    background: #ffb200;
    border: 1px solid #ffb200;
}
.quiqqer-socialshare-liveinternet:hover .quiqqer-socialshare-wrapper {
    background: #a37305;
}
/*Baidu*/
.quiqqer-socialshare-baidu .quiqqer-socialshare-wrapper {
    background: #62bbe7;
    border: 1px solid #0057d7;
}
.quiqqer-socialshare-baidu:hover .quiqqer-socialshare-wrapper {
    background: #0099e5;
}
/*Blogger*/
.quiqqer-socialshare-blogger .quiqqer-socialshare-wrapper {
    background: #e53f0b;
    border: 1px solid #e04716;
}
.quiqqer-socialshare-blogger:hover .quiqqer-socialshare-wrapper {
    background: #FF5722;
}
/*Buffer*/
.quiqqer-socialshare-buffer .quiqqer-socialshare-wrapper {
    background: #aa2d2d;
    border: 1px solid #b80d0d;
}
.quiqqer-socialshare-buffer:hover .quiqqer-socialshare-wrapper {
    background: #cd1212;
}
/*Evernote*/
.quiqqer-socialshare-evernote .quiqqer-socialshare-wrapper {
    background: #53c416;
    border: 1px solid #69f130;
}
.quiqqer-socialshare-evernote:hover .quiqqer-socialshare-wrapper {
    background: #318212;
}
/*Instapaper*/
.quiqqer-socialshare-instapaper .quiqqer-socialshare-wrapper {
    background: #4c72e5;
    border: 1px solid #1b4bdc;
}
.quiqqer-socialshare-instapaper:hover .quiqqer-socialshare-wrapper {
    background: #4c72e5;
}
/*StumbleUpon*/
.quiqqer-socialshare-stumbleupon .quiqqer-socialshare-wrapper {
    background: #EB471D;
    border: 1px solid #c62b04;
}
.quiqqer-socialshare-stumbleupon:hover .quiqqer-socialshare-wrapper {
    background: #EB471D;
}
/*Viber*/
.quiqqer-socialshare-viber .quiqqer-socialshare-wrapper {
    background: #539dec;
    border: 1px solid #1473d9;
}
.quiqqer-socialshare-viber:hover .quiqqer-socialshare-wrapper {
    background: #539dec;
}
/*Deliciuos*/
.quiqqer-socialshare-delicious .quiqqer-socialshare-wrapper {
    background: #9a6651;
    border: 1px solid #994d2e;
}
.quiqqer-socialshare-delicious:hover .quiqqer-socialshare-wrapper {
    background: #9a6651;
}
/*Line*/
.quiqqer-socialshare-line .quiqqer-socialshare-wrapper {
    background: #00b900;
    border: 1px solid #0a680a;
}
.quiqqer-socialshare-line:hover .quiqqer-socialshare-wrapper {
    background: #00b900;
}
/*Tumblr*/
.quiqqer-socialshare-tumblr .quiqqer-socialshare-wrapper {
    background: #35465c;
    border: 1px solid #304054;
}
.quiqqer-socialshare-tumblr:hover .quiqqer-socialshare-wrapper {
    background: #2e3e51;
}
/*WorldPress*/
.quiqqer-socialshare-worldpress .quiqqer-socialshare-wrapper {
    background: #21759b;
    border: 1px solid #1f6f93;
}
.quiqqer-socialshare-worldpress:hover .quiqqer-socialshare-wrapper {
    background: #1c6788;
}
/*Weibo*/
.quiqqer-socialshare-weibo .quiqqer-socialshare-wrapper {
    background: #e31837;
    border: 1px solid #d81734;
}
.quiqqer-socialshare-weibo:hover .quiqqer-socialshare-wrapper {
    background: #b01830;
}

/*Reddit*/
.quiqqer-socialshare-reddit .quiqqer-socialshare-wrapper {
    background: #ff4500;
    border: 1px solid #f04100;
}
.quiqqer-socialshare-reddit:hover .quiqqer-socialshare-wrapper {
    background: #e83e00;
}

/*Telegram*/
.quiqqer-socialshare-telegram .quiqqer-socialshare-wrapper {
    background: #0088cc;
    border: 1px solid #0081c1;
}
.quiqqer-socialshare-telegram:hover .quiqqer-socialshare-wrapper {
    background: #006ca9;
}

/* Facebook */
.quiqqer-socialshare-facebook .quiqqer-socialshare-wrapper {
    background: #3b5998;
    border: 1px solid #344e86;
}

.quiqqer-socialshare-facebook:hover .quiqqer-socialshare-wrapper {
    background: #2d4373;
}

/* Pinterest */
.quiqqer-socialshare-pinterest .quiqqer-socialshare-wrapper {
    background: #cb2027;
    border: 1px solid #b51d23;
}

.quiqqer-socialshare-pinterest:hover .quiqqer-socialshare-wrapper {
    background: #9f191f;
}

/* Tweeter */
.quiqqer-socialshare-twitter .quiqqer-socialshare-wrapper {
    background: #00aced;
    border: 1px solid #0099d4;
}

.quiqqer-socialshare-twitter:hover .quiqqer-socialshare-wrapper {
    background: #0087ba;
}

/* Google */
.quiqqer-socialshare-google .quiqqer-socialshare-wrapper {
    background: #dd4b39;
    border: 1px solid #d73925;
}

.quiqqer-socialshare-google:hover .quiqqer-socialshare-wrapper {
    background: #c23321;
}

/* Whatsapp */
.quiqqer-socialshare-whatsapp .quiqqer-socialshare-wrapper {
    background: #29a628;
    border: 1px solid #29a628;
}

.quiqqer-socialshare-whatsapp:hover .quiqqer-socialshare-wrapper {
    background: #1f7d1e;
}

/* Mail */
.quiqqer-socialshare-mail .quiqqer-socialshare-wrapper {
    background: #3490f3;
    border: 1px solid #3490f3;
}

.quiqqer-socialshare-mail:hover .quiqqer-socialshare-wrapper {
    background: #0e76e6;
}

/* LinkedIn */
.quiqqer-socialshare-linkedin .quiqqer-socialshare-wrapper {
    background: #007bb6;
    border: 1px solid #006a9d;
}

.quiqqer-socialshare-linkedin:hover .quiqqer-socialshare-wrapper {
    background: #005983;
}

/* Xing */
.quiqqer-socialshare-xing .quiqqer-socialshare-wrapper {
    background: #006567;
    border: 1px solid #004b58;
}

.quiqqer-socialshare-xing:hover .quiqqer-socialshare-wrapper {
    background: #005456;
}